<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myapp',[]);

	app.controller('myctrl',function($scope){
		$scope.x = []
		function add(a,b){
				for(var i=0;i<$scope.x.length;i++)
				{
					//console.log($scope.x[i].link);
					if($scope.x[i].link == a)
						return;
					else 
						continue;
				}
				$scope.x.push({link:a,name:b});
		}

		function order(){
			$scope.classes = [];
			$scope.class= [];
			letters=[]
			for (var i = 0; i < $scope.x.length; i++) {
				var first = $scope.x[i].name.substring(0,1).toUpperCase();
				//console.log(first);
				if(letters.indexOf(first) != -1){
				}
				else{
					
					$scope.classes[first]=[];
					$scope.classes[first].links=[];
					$scope.classes[first].letter=first;
					letters.push(first);
				}
				$scope.classes[first].links.push($scope.x[i]);
				//console.log($scope.classes);
			}
			var i=0;
			for ( x in $scope.classes ){
				$scope.class[i] = {}
				$scope.class[i].links = $scope.classes[x].links;
				$scope.class[i].letter= $scope.classes[x].letter;
				i++;
			}
			console.log($scope.class);
		}



	// Resources

		add("https://stackoverflow.com/questions/31244862/what-is-the-use-of-spl-secondary-program-loader","U boot program loading sequence and what is what ! ");
		add("http://conf.e-consystems.net/display/eSOMiMX7/U-Boot+execution+sequence","Uboot program logical sequence");
		add("http://conf.e-consystems.net/display/eSOMiMX7/Dynamic+Debugging+using+kernel+print+statement","Dynamic Debugging in Linux kernel");
		add("https://gist.github.com/lj50036/967c13b46f83819830167e6b502f531d","FastBoot Usage");
		add("http://free-electrons.com/blog/mkenvimage-uboot-binary-env-generator/","mkenvimage tool");
		add("https://community.nxp.com/docs/DOC-101842","Boot Solely with imx_usb_loader and buildroot");
		add("https://en.opensuse.org/openSUSE:Imx_usb_loader","imx usb loader usage - 1");
		add("https://boundarydevices.com/u-boot-usb-mass-storage-gadget/","UMS gadget - How to use");
		add("https://serverfault.com/questions/184321/linux-console-programmatical-detection-of-which-device-a-usb-storage-is-assign","Programmatic detection of where a usb storage is assigned to ");
		add("https://nnc3.com/mags/LJ_1994-2014/LJ/246/11725.html","Uboot Environment variables ");
		add("http://variwiki.com/index.php?title=U-Boot_features#General_U-Boot_commands","General UBoot Commands ");
		add("https://stackoverflow.com/questions/31244862/what-is-the-use-of-spl-secondary-program-loader","Use of SPL");
		add("https://stackoverflow.com/questions/59838/check-if-a-directory-exists-in-a-shell-script","Checking if a directory exists using Shell script");
		add("http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot","Booting Linux using Uboot");
		add("http://bhami.com/rosetta.html#software","Shell Commands of All Unix based OSes");
		add("https://www.kernel.org/doc/Documentation/mmc/mmc-dev-parts.txt","MMC boot partition");
		add("https://stackoverflow.com/questions/22322304/image-vs-zimage-vs-uimage","UImage vs zImage");
		add("https://buildroot.org/downloads/manual/manual.html#customize-store-package-config","Build root User Manual");
		add("https://gitlab.com/help/user/markdown","Gitlab Markdown");
		add("https://community.nxp.com/thread/351669","Booting linux via SD .. Environment variables");
		add("https://stackoverflow.com/questions/6363441/check-if-a-file-exists-with-wildcard-in-shell-script","Check if a file exists using shell");
		add("http://tldp.org/HOWTO/Bash-Prog-Intro-HOWTO.html#toc5","Bash Programming how to");
		add("https://www.gnu.org/software/bash/manual/html_node/Bash-Conditional-Expressions.html#Bash-Conditional-Expressions","Bash Reference Manuel");
		add("https://buildroot.org/downloads/manual/manual.html","Buildroot User manual");
		add("http://free-electrons.com/doc/training/buildroot/buildroot-labs.pdf","Buildroot labs");
		add("https://www.kernel.org/doc/html/v4.11/admin-guide/dynamic-debug-howto.html","Dynamic Debug Kernel Documentation");
		add("https://www.systutorials.com/docs/linux/man/8-sfdisk/","sfdisk man page linux");
		add("https://suntong.github.io/blogs/2015/12/25/use-sfdisk-to-partition-disks/","Use sfdisk to partition disks");
		add("https://askubuntu.com/questions/525767/what-does-an-exec-command-do","Exec command in linux");
		add("https://unix.stackexchange.com/questions/4126/what-is-the-exact-difference-between-a-terminal-a-shell-a-tty-and-a-con/4132#4132","Difference between Shell , tty  and a console");
		add("http://processors.wiki.ti.com/index.php/Linux_Core_U-Boot_User%27s_Guide","Uboot user guide");
		add("https://www.linux.com/news/udev-introduction-device-management-modern-linux-system","Introduction to udev");
		add("https://www.devroom.io/2009/10/26/how-to-create-and-apply-a-patch-with-git/","Git:Applying Patches in Git");
		add("https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging","Git Branching and Merging");
		add("https://stackoverflow.com/questions/32174348/how-to-build-uimage","Build uImage from zImage");
		add("https://mkrmr.wordpress.com/2010/05/14/vim-tip-visual-block-editing/","Visual block editing");
		add("https://blogs.gnome.org/simos/2009/04/18/git-clones-vs-shallow-git-clones/","Clones vs Shallow clones");
		add("https://stackoverflow.com/questions/17563726/how-to-see-the-changes-in-a-commit","Seeing changes in a commit");
		add("http://developer.toradex.com/knowledge-base/build-u-boot-and-linux-kernel-from-source-code","Build Uboot and Linux from Source Toradex forums ");
		add("http://elixir.free-electrons.com/linux/v4.1.5/source","Linux Source Free Electrons");
		add("http://trac.gateworks.com/wiki/linux/OTG#g_mass_storage-USBMassStorageDevice","USB-OTG Support in Linux kernel");
		add("http://www.linux-usb.org/gadget/file_storage.html","Backing Storage for the Mass Storage Gadget");
		add("https://www.kernel.org/doc/Documentation/usb/mass-storage.txt","USB Mass Storage");
		add("http://processors.wiki.ti.com/index.php/Kernel_-_Common_Problems_Booting_Linux#Problem_.231_-_No_more_output_is_seen_on_the_console_after_.22Starting_Kernel....22","Console stuck in Starting Kernel...");
		add("https://stackoverflow.com/questions/22929065/difference-between-linux-loadable-and-built-in-modules","Difference between loadable modules and builtin modules");
		add("https://www.gnu.org/software/tar/manual/html_section/tar_26.html","Tar User manual");
		add("https://www.maketecheasier.com/how-to-compress-and-split-files-in-ubuntu/","Compress and Split large files in ubuntu");
		add("http://www.hostingadvice.com/how-to/untar-file-linuxubuntu/","Untar a file for gzip , bzip compression");
		add("https://github.com/NXPmicro/imx-uuc/blob/master/linuxrc","Using configfs to configure uuc");
		add("https://community.nxp.com/thread/441563","Usage of UTP command");
		add("http://bootflat.github.io/color-picker.html","Flat Color Picker for Websites");
		add("http://www.writer2001.com/colwebcontrast.htm","Ideal Contrast for Web Text");
		add("https://github.com/ixonos/utp_com/blob/master/flash.sh","UTP_COM usage");
		add("https://stackoverflow.com/questions/26634978/how-to-use-readarray-in-bash-to-read-lines-from-a-file-into-a-2d-array","Readarray : How to use to read 2D arrays");
		add("https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git","Git:Visual Branching ");
		add("https://stackoverflow.com/questions/7161860/how-to-move-the-current-working-branch-to-master-branch-in-git","Git : Move a branch entirely to master");
		add("https://stackoverflow.com/questions/161813/how-to-resolve-merge-conflicts-in-git","Git:Resolving merge conflicts");
		add("https://stackoverflow.com/questions/2003505/how-do-i-delete-a-git-branch-both-locally-and-remotely","Git : Deleting a git branch locally and in remote");
		add("https://help.github.com/articles/pushing-to-a-remote/","Git : Pushing to a remote");
		add("https://help.github.com/articles/adding-a-remote/","Git : Adding a remote");
		add("https://help.github.com/enterprise/2.10/user/articles/changing-a-remote-s-url/","Changing the url of a remote");
		add("http://php.net/manual/en/function.serialize.php","PHP: serialize function usage");
		add("https://stackoverflow.com/questions/3265666/best-server-side-data-storage-method-for-simple-data","JS:Server side storage of simple data");
		add("https://stackoverflow.com/questions/8412505/send-data-from-javascript-to-a-mysql-database","JS: Send data from javascript to SQL");
		add("https://stackoverflow.com/questions/7086208/how-i-can-store-javascript-array-object-saved-somehow-so-that-i-can-use-it-later",
			"JS:Storing array objects that can be reused later");
		add("https://www.webdesignerdepot.com/2013/04/how-to-use-local-storage-for-javascript/","JS:Using local storage in JS");
		add("https://www.w3schools.com/xml/tryit.asp?filename=tryxml_parsertest","JS:Parse XML using Javascript");
		add("https://www.yoctoproject.org/docs/1.6/bitbake-user-manual/bitbake-user-manual.html#recipes","Bit bake User manual");
		add("https://github.com/Freescale/Documentation/wiki/Build-and-Flash-the-SD-card-Image","Flash SD card image directly to SD card");
		add("https://stackoverflow.com/questions/8707041/why-are-separate-icache-and-dcache-needed","Cache : Why Seperate I-Cache and D-Cache are required");
		add("https://stackoverflow.com/questions/45592905/how-to-use-a-private-git-repo-while-building-yocto-using-bitbake-in-ubuntu-16-04/45593895#45593895","Adding private repo in Yocto build ");
		add("http://www.embedded.com/design/mcus-processors-and-socs/4006782/Using-Direct-Memory-Access-effectively-in-media-based-embedded-applications--Part-1","DMA:Using DMA for media based apps");
		add("https://askubuntu.com/questions/320195/how-to-convert-a-html-file-to-pdf-with-colors","Convert HTML into PDf");
		add("https://www.gnu.org/software/make/manual/html_node/Call-Function.html","Make: GNU make Call function");
		add("http://tutorials.jenkov.com/java-concurrency/semaphores.html","semaphores");
		add("https://superuser.com/questions/152011/why-multi-core-processors","Why Multi core Processors ?");
		add("https://en.wikipedia.org/wiki/Amdahl's_law","Amdahl's law ");
		add("http://www.differencebetween.com/difference-between-l1-and-vs-l2-cache/","Differences between L1 and L2 Cache");
		add("https://dzone.com/articles/tutorial-building-freertos-applications-for-arm-co","FreeRTOS: building Free RTOS applications for ARM");
		add("https://www.kernel.org/doc/Documentation/rtc.txt","RTC: how to use RTC in linux");
		add("https://stackoverflow.com/questions/27899104/creating-defconfig-file-from-config","Make : Save defconfig make");
		add("https://stackoverflow.com/questions/36328344/what-is-the-difference-in-cache-memory-and-tightly-coupled-memory","TCM: What is the difference between TCM and Cache memory");
		add("http://www.computerweekly.com/feature/Write-through-write-around-write-back-Cache-explained","Cache : Caching Explained");
		add("http://www.freertos.org/RTOS.html","FreeRTOS: FreeRTOS tutorials");
		add("https://stackoverflow.com/questions/5816688/resetting-remote-to-a-certain-commit", "Git : Resetting the remote to a certain commit ");
		add("https://www.quora.com/How-does-the-cache-memory-in-a-computer-work-How-is-the-data-managed-What-makes-it-%E2%80%9Chigh-speed%E2%80%9D-memory","Cache : How does cache memory work ?");
		add("https://stackoverflow.com/questions/9253250/need-help-understanding-how-n-b-and-r-will-render-printf-output","Escape Characters : Use of \\r \\n \\b");
		add("https://stackoverflow.com/questions/14888027/mutex-lock-threads","Mutex:How Mutex works ");
		add("https://community.nxp.com/thread/319950","UART:Changing Debug Uart in linux and Uboot");
		add("http://pages.cs.wisc.edu/~remzi/Classes/537/Fall2008/Notes/threads-semaphores.txt","Semaphores : Threads and Semaphores");
		add("https://community.arm.com/processors/b/blog/posts/10-useful-facts-of-the-cortex-m-system-design-kit-cmsdk","Cortex-M4: Useful facts about Cortex M4");
		add("https://developer.arm.com/products/processors/cortex-m/cortex-m4","Cortex-M4 : Cortex-M4 Overview");
		add("https://developer.arm.com/products/system-design/system-design-kits/cortex-m-system-design-kit",
			"Cortex-M4 System Design");
		add("https://www.raspberrypi.org/documentation/configuration/device-tree.md","Device Trees :More about Device trees");
		add("http://computer.howstuffworks.com/usb5.htm","USB:How USB works");
		add("https://askubuntu.com/questions/558280/changing-colour-of-text-and-background-of-terminal","Terminal colours");
		add("https://stackoverflow.com/questions/21670967/how-to-compile-device-tree-source-files-dts","Device Trees: Compiling device trees");
		add("https://askubuntu.com/questions/95435/term-xterm-or-uxterm","Difference between Term , Xterm and UXterm");
		add("https://stackoverflow.com/questions/21808984/what-is-the-use-of-flattened-device-tree-linux-kernel","Device Tree: Use of dtb");
		add("https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/","Customising xterm");
		add("http://www.linuxjournal.com/content/return-values-bash-functions","Bash : Return Values from bash functions");
		add("https://stackoverflow.com/questions/10942919/customize-tab-completion-in-shell","Custom tab completions ");
		add("https://stackoverflow.com/questions/2432764/change-the-uri-url-for-a-remote-git-repository","Git: Change remote url");
		add("https://stackoverflow.com/questions/2765421/how-do-i-push-a-new-local-branch-to-a-remote-git-repository-and-track-it-too","Git : Creating remote branch from command line");
		add("http://preshing.com/20130618/atomic-vs-non-atomic-operations/","Threads:Atomic-vs-non-atomic-operations");
		add("https://stackoverflow.com/questions/4997693/given-two-directory-trees-how-can-i-find-out-which-files-differ","Finding difference between two directory trees");
		add("https://gist.github.com/octocat/9257657","Git: Common gitignore contents ");
		add("http://www.keil.com/support/man/docs/armlink/armlink_pge1362065956104.htm","Linker: Linker defined symbols");
		
		

	// Sorts the list		
		$scope.x.sort(function(a,b){
			var nameA=a.name.toLowerCase(),nameB=b.name.toLowerCase();
			if(nameA<nameB)
				return -1;
			if(nameA>nameB)
				return 1;
			return 0;
		});

		order();




});
</script>

<style type="text/css">
	.block{
		background-color: #F6F5Ec;
		margin: 10px;
		padding: 5px;
	}
	body{
		background-color: #F5F4EB;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: #434E3C;
	}
	h1{
		color: #434E3C;
	}

</style>
</head>
<body>
 <div ng-app="myapp" ng-controller="myctrl">
 	<div class="block" ng-repeat="y in class">
 		<ul>
	 		<h1> {{ y.letter }} </h1>
	 		<li ng-repeat=" z in y.links">
	 			<a href="{{z.link}}">{{z.name}}</a><br>
	 		</li>
 		</ul>
 	</div>
 </div>
</body>
</html>
