<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('myapp',[]);

	app.controller('myctrl',function($scope){
		$scope.x = []
		function add(a,b){
				for(var i=0;i<$scope.x.length;i++)
				{
					//console.log($scope.x[i].link);
					if($scope.x[i].link == a)
						return;
					else
						continue;
				}
				$scope.x.push({link:a,name:b});
		}

		function order(){
			$scope.classes = [];
			$scope.class= [];
			letters=[]
			for (var i = 0; i < $scope.x.length; i++) {
				var first = $scope.x[i].name.substring(0,1).toUpperCase();
				//console.log(first);
				if(letters.indexOf(first) != -1){
				}
				else{

					$scope.classes[first]=[];
					$scope.classes[first].links=[];
					$scope.classes[first].letter=first;
					letters.push(first);
				}
				$scope.classes[first].links.push($scope.x[i]);
				//console.log($scope.classes);
			}
			var i=0;
			for ( x in $scope.classes ){
				$scope.class[i] = {}
				$scope.class[i].links = $scope.classes[x].links;
				$scope.class[i].letter= $scope.classes[x].letter;
				i++;
			}
			console.log($scope.class);
		}



	// Resources

		add("https://stackoverflow.com/questions/31244862/what-is-the-use-of-spl-secondary-program-loader","UBoot:U boot program loading sequence and what is what ! ");
		add("http://conf.e-consystems.net/display/eSOMiMX7/U-Boot+execution+sequence","UBoot:Uboot program logical sequence");
		add("http://conf.e-consystems.net/display/eSOMiMX7/Dynamic+Debugging+using+kernel+print+statement","Linux Kernel:Dynamic Debugging in Linux kernel");
		add("https://gist.github.com/lj50036/967c13b46f83819830167e6b502f531d","Android:FastBoot Usage");
		add("http://free-electrons.com/blog/mkenvimage-uboot-binary-env-generator/","Kernel building:mkenvimage tool");
		add("https://community.nxp.com/docs/DOC-101842","Buildroot:Boot Solely with imx_usb_loader and buildroot");
		add("https://en.opensuse.org/openSUSE:Imx_usb_loader","Imx USB Loader:imx usb loader usage - 1");
		add("https://boundarydevices.com/u-boot-usb-mass-storage-gadget/","UBoot:UMS gadget - How to use");
		add("https://serverfault.com/questions/184321/linux-console-programmatical-detection-of-which-device-a-usb-storage-is-assign","Linux:Programmatic detection of where a usb storage is assigned to ");
		add("https://nnc3.com/mags/LJ_1994-2014/LJ/246/11725.html","UBoot:Uboot Environment variables ");
		add("http://variwiki.com/index.php?title=U-Boot_features#General_U-Boot_commands","UBoot: General UBoot Commands ");
		add("https://stackoverflow.com/questions/31244862/what-is-the-use-of-spl-secondary-program-loader","SPL: Use of SPL");
		add("https://stackoverflow.com/questions/59838/check-if-a-directory-exists-in-a-shell-script","Bash: Checking if a directory exists using Shell script");
		add("http://processors.wiki.ti.com/index.php/Booting_Linux_kernel_using_U-Boot","Linux: Booting Linux using Uboot");
		add("http://bhami.com/rosetta.html#software","Linux Shell: Shell Commands of All Unix based OSes");
		add("https://www.kernel.org/doc/Documentation/mmc/mmc-dev-parts.txt","Linux partitioning: MMC boot partition");
		add("https://stackoverflow.com/questions/22322304/image-vs-zimage-vs-uimage","Linux Kernel: UImage vs zImage");
		add("https://buildroot.org/downloads/manual/manual.html#customize-store-package-config","Buildroot: Build root User Manual");
		add("https://gitlab.com/help/user/markdown","Gitlab: Gitlab Markdown");
		add("https://community.nxp.com/thread/351669","Linux: Booting linux via SD .. Environment variables");
		add("https://stackoverflow.com/questions/6363441/check-if-a-file-exists-with-wildcard-in-shell-script","Bash: Check if a file exists using shell");
		add("http://tldp.org/HOWTO/Bash-Prog-Intro-HOWTO.html#toc5","Bash: Bash Programming how to");
		add("https://www.gnu.org/software/bash/manual/html_node/Bash-Conditional-Expressions.html#Bash-Conditional-Expressions","Bash Reference Manuel");
		add("https://buildroot.org/downloads/manual/manual.html","Buildroot User manual");
		add("http://free-electrons.com/doc/training/buildroot/buildroot-labs.pdf","Buildroot labs");
		add("https://www.kernel.org/doc/html/v4.11/admin-guide/dynamic-debug-howto.html","Dynamic Debug Kernel Documentation");
		add("https://www.systutorials.com/docs/linux/man/8-sfdisk/","sfdisk man page linux");
		add("https://suntong.github.io/blogs/2015/12/25/use-sfdisk-to-partition-disks/","Use sfdisk to partition disks");
		add("https://askubuntu.com/questions/525767/what-does-an-exec-command-do","Exec command in linux");
		add("https://unix.stackexchange.com/questions/4126/what-is-the-exact-difference-between-a-terminal-a-shell-a-tty-and-a-con/4132#4132","Difference between Shell , tty  and a console");
		add("http://processors.wiki.ti.com/index.php/Linux_Core_U-Boot_User%27s_Guide","Uboot user guide");
		add("https://www.linux.com/news/udev-introduction-device-management-modern-linux-system","Introduction to udev");
		add("https://www.devroom.io/2009/10/26/how-to-create-and-apply-a-patch-with-git/","Git:Applying Patches in Git");
		add("https://git-scm.com/book/en/v2/Git-Branching-Basic-Branching-and-Merging","Git Branching and Merging");
		add("https://stackoverflow.com/questions/32174348/how-to-build-uimage","Build uImage from zImage");
		add("https://mkrmr.wordpress.com/2010/05/14/vim-tip-visual-block-editing/","Visual block editing");
		add("https://blogs.gnome.org/simos/2009/04/18/git-clones-vs-shallow-git-clones/","Clones vs Shallow clones");
		add("https://stackoverflow.com/questions/17563726/how-to-see-the-changes-in-a-commit","Seeing changes in a commit");
		add("http://developer.toradex.com/knowledge-base/build-u-boot-and-linux-kernel-from-source-code","Build Uboot and Linux from Source Toradex forums ");
		add("http://elixir.free-electrons.com/linux/v4.1.5/source","Linux Source Free Electrons");
		add("http://trac.gateworks.com/wiki/linux/OTG#g_mass_storage-USBMassStorageDevice","USB-OTG Support in Linux kernel");
		add("http://www.linux-usb.org/gadget/file_storage.html","Backing Storage for the Mass Storage Gadget");
		add("https://www.kernel.org/doc/Documentation/usb/mass-storage.txt","USB Mass Storage");
		add("http://processors.wiki.ti.com/index.php/Kernel_-_Common_Problems_Booting_Linux#Problem_.231_-_No_more_output_is_seen_on_the_console_after_.22Starting_Kernel....22","Console stuck in Starting Kernel...");
		add("https://stackoverflow.com/questions/22929065/difference-between-linux-loadable-and-built-in-modules","Difference between loadable modules and builtin modules");
		add("https://www.gnu.org/software/tar/manual/html_section/tar_26.html","Tar User manual");
		add("https://www.maketecheasier.com/how-to-compress-and-split-files-in-ubuntu/","Compress and Split large files in ubuntu");
		add("http://www.hostingadvice.com/how-to/untar-file-linuxubuntu/","Untar a file for gzip , bzip compression");
		add("https://github.com/NXPmicro/imx-uuc/blob/master/linuxrc","Using configfs to configure uuc");
		add("https://community.nxp.com/thread/441563","Usage of UTP command");
		add("http://bootflat.github.io/color-picker.html","Flat Color Picker for Websites");
		add("http://www.writer2001.com/colwebcontrast.htm","Ideal Contrast for Web Text");
		add("https://github.com/ixonos/utp_com/blob/master/flash.sh","UTP_COM usage");
		add("https://stackoverflow.com/questions/26634978/how-to-use-readarray-in-bash-to-read-lines-from-a-file-into-a-2d-array","Readarray : How to use to read 2D arrays");
		add("https://stackoverflow.com/questions/1838873/visualizing-branch-topology-in-git","Git:Visual Branching ");
		add("https://stackoverflow.com/questions/7161860/how-to-move-the-current-working-branch-to-master-branch-in-git","Git : Move a branch entirely to master");
		add("https://stackoverflow.com/questions/161813/how-to-resolve-merge-conflicts-in-git","Git:Resolving merge conflicts");
		add("https://stackoverflow.com/questions/2003505/how-do-i-delete-a-git-branch-both-locally-and-remotely","Git : Deleting a git branch locally and in remote");
		add("https://help.github.com/articles/pushing-to-a-remote/","Git : Pushing to a remote");
		add("https://help.github.com/articles/adding-a-remote/","Git : Adding a remote");
		add("https://help.github.com/enterprise/2.10/user/articles/changing-a-remote-s-url/","Changing the url of a remote");
		add("http://php.net/manual/en/function.serialize.php","PHP: serialize function usage");
		add("https://stackoverflow.com/questions/3265666/best-server-side-data-storage-method-for-simple-data","JS:Server side storage of simple data");
		add("https://stackoverflow.com/questions/8412505/send-data-from-javascript-to-a-mysql-database","JS: Send data from javascript to SQL");
		add("https://stackoverflow.com/questions/7086208/how-i-can-store-javascript-array-object-saved-somehow-so-that-i-can-use-it-later",
			"JS:Storing array objects that can be reused later");
		add("https://www.webdesignerdepot.com/2013/04/how-to-use-local-storage-for-javascript/","JS:Using local storage in JS");
		add("https://www.w3schools.com/xml/tryit.asp?filename=tryxml_parsertest","JS:Parse XML using Javascript");
		add("https://www.yoctoproject.org/docs/1.6/bitbake-user-manual/bitbake-user-manual.html#recipes","Bit bake User manual");
		add("https://github.com/Freescale/Documentation/wiki/Build-and-Flash-the-SD-card-Image","Flash SD card image directly to SD card");
		add("https://stackoverflow.com/questions/8707041/why-are-separate-icache-and-dcache-needed","Cache : Why Seperate I-Cache and D-Cache are required");
		add("https://stackoverflow.com/questions/45592905/how-to-use-a-private-git-repo-while-building-yocto-using-bitbake-in-ubuntu-16-04/45593895#45593895","Adding private repo in Yocto build ");
		add("http://www.embedded.com/design/mcus-processors-and-socs/4006782/Using-Direct-Memory-Access-effectively-in-media-based-embedded-applications--Part-1","DMA:Using DMA for media based apps");
		add("https://askubuntu.com/questions/320195/how-to-convert-a-html-file-to-pdf-with-colors","Convert HTML into PDf");
		add("https://www.gnu.org/software/make/manual/html_node/Call-Function.html","Make: GNU make Call function");
		add("http://tutorials.jenkov.com/java-concurrency/semaphores.html","semaphores");
		add("https://superuser.com/questions/152011/why-multi-core-processors","Why Multi core Processors ?");
		add("https://en.wikipedia.org/wiki/Amdahl's_law","Amdahl's law ");
		add("http://www.differencebetween.com/difference-between-l1-and-vs-l2-cache/","Differences between L1 and L2 Cache");
		add("https://dzone.com/articles/tutorial-building-freertos-applications-for-arm-co","FreeRTOS: building Free RTOS applications for ARM");
		add("https://www.kernel.org/doc/Documentation/rtc.txt","RTC: how to use RTC in linux");
		add("https://stackoverflow.com/questions/27899104/creating-defconfig-file-from-config","Make : Save defconfig make");
		add("https://stackoverflow.com/questions/36328344/what-is-the-difference-in-cache-memory-and-tightly-coupled-memory","TCM: What is the difference between TCM and Cache memory");
		add("http://www.computerweekly.com/feature/Write-through-write-around-write-back-Cache-explained","Cache : Caching Explained");
		add("http://www.freertos.org/RTOS.html","FreeRTOS: FreeRTOS tutorials");
		add("https://stackoverflow.com/questions/5816688/resetting-remote-to-a-certain-commit", "Git : Resetting the remote to a certain commit ");
		add("https://www.quora.com/How-does-the-cache-memory-in-a-computer-work-How-is-the-data-managed-What-makes-it-%E2%80%9Chigh-speed%E2%80%9D-memory","Cache : How does cache memory work ?");
		add("https://stackoverflow.com/questions/9253250/need-help-understanding-how-n-b-and-r-will-render-printf-output","Escape Characters : Use of \\r \\n \\b");
		add("https://stackoverflow.com/questions/14888027/mutex-lock-threads","Mutex:How Mutex works ");
		add("https://community.nxp.com/thread/319950","UART:Changing Debug Uart in linux and Uboot");
		add("http://pages.cs.wisc.edu/~remzi/Classes/537/Fall2008/Notes/threads-semaphores.txt","Semaphores : Threads and Semaphores");
		add("https://community.arm.com/processors/b/blog/posts/10-useful-facts-of-the-cortex-m-system-design-kit-cmsdk","Cortex-M4: Useful facts about Cortex M4");
		add("https://developer.arm.com/products/processors/cortex-m/cortex-m4","Cortex-M4 : Cortex-M4 Overview");
		add("https://developer.arm.com/products/system-design/system-design-kits/cortex-m-system-design-kit",
			"Cortex-M4 System Design");
		add("https://www.raspberrypi.org/documentation/configuration/device-tree.md","Device Trees :More about Device trees");
		add("http://computer.howstuffworks.com/usb5.htm","USB:How USB works");
		add("https://askubuntu.com/questions/558280/changing-colour-of-text-and-background-of-terminal","Terminal colours");
		add("https://stackoverflow.com/questions/21670967/how-to-compile-device-tree-source-files-dts","Device Trees: Compiling device trees");
		add("https://askubuntu.com/questions/95435/term-xterm-or-uxterm","Difference between Term , Xterm and UXterm");
		add("https://stackoverflow.com/questions/21808984/what-is-the-use-of-flattened-device-tree-linux-kernel","Device Tree: Use of dtb");
		add("https://scarygliders.net/2011/12/01/customize-xterm-the-original-and-best-terminal/","Customising xterm");
		add("http://www.linuxjournal.com/content/return-values-bash-functions","Bash : Return Values from bash functions");
		add("https://stackoverflow.com/questions/10942919/customize-tab-completion-in-shell","Custom tab completions ");
		add("https://stackoverflow.com/questions/2432764/change-the-uri-url-for-a-remote-git-repository","Git: Change remote url");
		add("https://stackoverflow.com/questions/2765421/how-do-i-push-a-new-local-branch-to-a-remote-git-repository-and-track-it-too","Git : Creating remote branch from command line");
		add("http://preshing.com/20130618/atomic-vs-non-atomic-operations/","Threads:Atomic-vs-non-atomic-operations");
		add("https://stackoverflow.com/questions/4997693/given-two-directory-trees-how-can-i-find-out-which-files-differ","Finding difference between two directory trees");
		add("https://gist.github.com/octocat/9257657","Git: Common gitignore contents ");
		add("http://www.keil.com/support/man/docs/armlink/armlink_pge1362065956104.htm","Linker: Linker defined symbols");
		add("https://askubuntu.com/questions/179898/how-to-round-decimals-using-bc-in-bash","Bash:Rounding numbers in bash");
		add("https://stackoverflow.com/questions/8654051/how-to-compare-two-floating-point-numbers-in-bash","Bash:Comparing float numbers in bash");
		add("https://stackoverflow.com/questions/369758/how-to-trim-whitespace-from-a-bash-variable","Bash: Trimming whitespaces");
		add("https://coderwall.com/p/s2ttyg/random-number-generator-in-bash","Bash: Random numbers");
		add("http://blog.kmckk.com/archives/4080002.html","ADB: ADB trace and adb log");
		add("https://events.linuxfoundation.org/images/stories/pdf/lf_abs12_kobayashi.pdf","ADB: ADB How it works");
		add("https://medium.com/@ankit.sinhal/handler-in-android-d138c1f4980e","Android: Handlers in Android");
		add("https://confluence.atlassian.com/bitbucket/resolve-merge-conflicts-704414003.html","Git: Resolving merge conflicts ");
		add("https://sourceware.org/binutils/docs/ld/Scripts.html","Linker: Linker Scripts");
		add("http://binaryhacker.net","Tony Sir's Blog");
		add("http://users.ece.utexas.edu/~valvano/Volume1/E-Book/C2_FundamentalConcepts.htm","Fundamentals of Embedded systems");
		add("https://source.android.com/source/using-repo","Repo tool : Using Repo");
		add("http://www.king-foo.com/2011/11/creating-debianubuntu-deb-packages/","Debian : Creating Debian packages");
		add("https://lwn.net/Articles/448499/","Device Drivers : Platform Driver API");
		add("https://www.kernel.org/doc/Documentation/driver-model/platform.txt","Device Drivers : Platform devices and drivers ");
		add("https://www.kernel.org/doc/Documentation/rpmsg.txt","RPMSG: RPMsg kernel documentation");
		add("http://www.cyanogenmods.org/forums/topic/asus-zenfone-max-lineage-14-1-nougat-7-1-rom/","Cyanogen mod : Flashing cyanogen mod in Asus zenfone max");
		add("http://developer.toradex.com/knowledge-base/freertos-on-the-cortex-m4-of-a-colibri-imx7#RPMsg_TTY_Example","FreeRTOS : example usage");
		add("https://superuser.com/questions/611538/is-there-a-way-to-display-a-countdown-or-stopwatch-timer-in-a-terminal","Bash : Countdown timers in bash");
		add("http://processors.wiki.ti.com/index.php/RPMsg_Quick_Start_Guide#Rebuilding_the_PRU_Firmwares_from_Source","RPMsg : RPMsg_Quick_Start_Guide");
		add("http://www.freertos.org/FreeRTOS_Support_Forum_Archive/January_2007/freertos_TaskCreate_from_within_a_task_1653217.html","FreeRTOS: Create a task within another task");
		add("http://in.mathworks.com/help/matlab/ref/fscanf.html#responsive_offcanvas","MATLAB: fscanf and fprintf");
		add("https://in.mathworks.com/help/matlab/math/multidimensional-arrays.html?s_tid=gn_loc_drop","MATLAB: Matlab arrays");
		add("https://http.cat/","API: HTML cat API");
		add("https://stackoverflow.com/questions/2054627/how-do-i-change-tab-size-in-vim","Vim:Changing tab size in Vim");
		add("http://www.tldp.org/REF/Joe-Command-Reference/index.html","Linux Command line : Command line reference ");
		add("http://www.tldp.org/guides.html","Linux : The linux Documentation Project ( TLDP )");
		add("http://www.tldp.org/FAQ/","Linux : The linux documentation FAQ");
		add("https://askubuntu.com/questions/24334/how-do-i-permanently-load-a-kernel-module","Modules : Permanantly adding a loadable module");
		add("https://www.tecmint.com/find-linux-filesystem-type/","Linux Command Line:Detecting file system types using linux commands");
		add("https://jvns.ca/blog/2014/09/06/how-to-read-an-executable/","ELF : Reading an ELF binary");
		add("http://www.freertos.org/a00110.html","FreeRTOS: Customising applications in FreeRTOS");
		add("http://blog.mbedded.ninja/electronics/communication-protocols/uart-protocol","UART: UART Tutorial");
		add("http://www.circuitbasics.com/basics-uart-communication/","UART: Basics of UART communication");
		add("https://www.quora.com/How-does-Android-boot-process-work","AOSP: Android boot process");
		add("https://unix.stackexchange.com/questions/297178/how-usb-bus-number-and-device-number-been-assigned","USB: How USB bus number and device number been assigned? ");
		add("https://github.com/csimmonds/boot-extract","Android: Utility to extract kernel and ramdisk from an Android boot or recovery image file");
        add("https://stackoverflow.com/questions/16400820/c-how-to-use-posix-semaphores-on-forked-processes","IPC: C, how to use POSIX semaphores on forked processes?");
        add("https://learn.sparkfun.com/tutorials/i2c","I2C: I2C tutorial");
        add("http://www.i2c-bus.org/i2c-bus/","I2C: I2C Primer");
        add("https://gcc.godbolt.org/","C Tools:GCC Explorer");
        add("https://stackoverflow.com/questions/109710/likely-unlikely-macros-in-the-linux-kernel-how-do-they-work-whats-their","Linux Kernel: Likely and unlikely macros in linux kernel");
        add("https://stackoverflow.com/questions/11438794/is-the-size-of-c-int-2-bytes-or-4-bytes","C: Size of int");
        add("https://stackoverflow.com/questions/21350478/what-does-memory-allocated-at-compile-time-really-mean","C: Memory allocation at compile stage ");
        add("http://wiki.e-consystems.net","Econpedia");
        add("http://www.freertos.org/a00111.html","FreeRTOS : Memory management");
        add("https://cmake.org/cmake-tutorial/","CMake: CMake tutorial");
        add("https://stackoverflow.com/questions/3649026/how-to-display-hexadecimal-numbers-in-c","C: How to format hexadecimal numbers in format sequences");
        add("https://itsfoss.com/best-command-line-games-linux/?utm_source=newsletter&utm_medium=email&utm_campaign=amaze_your_friends_and_colleagues_with_this_fun_linux_tool&utm_term=2017-09-20","Linux Games: Terminal gaming");
        add("http://wiki.linuxquestions.org/wiki/BSD_games","Linux Games: BSD games");
        add("https://ttygames.wordpress.com/","Linux Games: ttygames");
        add("https://stackoverflow.com/questions/496448/how-to-correctly-use-the-extern-keyword-in-c","C: Correct usage of extern keyword");
        add("http://vim.wikia.com/g00/wiki/Using_command-line_history?i10c.encReferrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvLmluLw%3D%3D","Vim: Command line history");
        add("https://stackoverflow.com/questions/1739296/malloc-vs-mmap-in-c","C: Malloc vs mmap");
        add("http://vim.wikia.com/g00/wiki/Using_tab_pages?i10c.encReferrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvLmluLw%3D%3D","Vim: Using tabs");
        add("https://stackoverflow.com/questions/6347982/vim-and-ctags-tag-filenames","Vim: NAvigating files using vim");
        add("http://vim.wikia.com/g00/wiki/Open_file_under_cursor?i10c.encReferrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvLmluLw%3D%3D","Vim: Open file under cursor");
        add("https://chrisbracco.com/ssh-keys/","SSH: About ssh-keys");
        add("https://www.softprayog.in/programming/interprocess-communication-using-system-v-shared-memory-in-linux","IPC: IPC using shared memory");
        add("https://github.com/dogriffiths/HeadFirstAndroid/wiki/How-Android-Apps-are-Built-and-Run","AOSP","How android app runs");
        add("https://www.pcreview.co.uk/threads/using-sumif-with-isnumber.3769099/","Spreadsheets: Using Sumif with isnumber");
	    add("https://www.cs.oberlin.edu/~kuperman/help/vim/windows.html","vim: Vim tips");
        add("https://unix.stackexchange.com/questions/37313/how-do-i-grep-for-multiple-patterns","Grep : Grep for multiple patterns");
        add("https://stackoverflow.com/questions/1519006/how-do-you-create-a-remote-git-branch","Git : Creating remote git branches");
        add("https://askubuntu.com/questions/391082/how-to-see-time-stamps-in-bash-history","linux commands: Adding timestamps to history command");
        add("https://help.libreoffice.org/Calc/Spreadsheet_Functions","Libre Office : Spreadsheet Functions");
        add("https://stackoverflow.com/questions/33955015/libreoffice-calc-get-row-and-column-index-from-cell-name","Libre Office Calc :Get row and column index from cell name");
        add("https://help.libreoffice.org/Common/Inserting_and_Editing_Buttons","Libre Office Calc: Inserting buttons");
        add("https://stackoverflow.com/questions/31300156/how-to-use-indirect-reference-to-select-a-single-cell-or-range-in-vba","Spreadsheets: Using indirect reference");
        add("https://www.debugpoint.com/2014/09/writing-a-macro-in-libreoffice-calc-getting-started/","Libre Office Calc: Inserting and Using Macros");
        add("http://www.debugpoint.com/2014/10/range-processing-using-macro-in-libreoffice-calc-part-1/","Libre Office Calc: Range Processing in Calc");
        add("https://wiki.openoffice.org/wiki/Documentation/BASIC_Guide/Cells_and_Ranges","Libre Office Calc: BASIC usage guide");
        add("https://api.libreoffice.org/docs/idl/ref/index.html","Libre Office Calc: API Reference");
        add("https://android.stackexchange.com/questions/110927/how-to-mount-system-rewritable-or-read-only-rw-ro","Android fs : Changing the read only file system to read-write filesystem");
		add("https://superuser.com/questions/486532/how-to-open-files-in-vertically-horizontal-split-windows-in-vim-from-the-command","vim : Open two files simuntaneously using split screen");
	    add("https://www.ibm.com/developerworks/aix/library/au-spunix_sharedmemory/index.html","IPC : shared memory explained , reference 2");
	    add("http://radek.io/2012/11/10/magical-container_of-macro/","Linux Kernel: How container_of works");
	    add("http://www.linux-usb.org/usb.ids","USB: USB ids recognized by Linux");
	    add("http://opensourceforu.com/2011/10/usb-drivers-in-linux-1/","USB: USB drivers 101");
	    add("https://www.kernel.org/doc/Documentation/usb/power-management.txt","USB: USB power-management");
	    add("https://www.akkadia.org/drepper/cpumemory.pdf","Memory: What every programmer must know about memory");
	    add("https://www.ece.cmu.edu/~ece548/localcpy/dramop.pdf","Memory : Understanding DRAM ");
	    add("https://gcc.gnu.org/onlinedocs/gcc/","GCC: Understanding the GNU Compiler Collection");
	    add("http://cryptroix.com/2016/10/16/journey-to-the-stack/","Stack : Understanding how stack works for functions , stack pointer , frame pointers");
	    add("https://gabrieletolomei.wordpress.com/miscellanea/operating-systems/in-memory-layout/","Process Concept: Memory layout of process");
	    add("https://www.w3schools.com/charsets/ref_html_utf8.asp","UTF-8: UTF-8 character reference");
	    add("https://unix.stackexchange.com/questions/343934/print-check-cross-mark-in-shell-script","Bash : Printing symbols in shell script");
	    add("https://stackoverflow.com/questions/602912/how-do-you-echo-a-4-digit-unicode-character-in-bash","Bash : Echoing unicode in bash");
	    add("https://stackoverflow.com/questions/617182/with-bash-scripting-how-can-i-suppress-all-output-from-a-command","Bash : Suppressing all output from a command");
	    add("https://android.googlesource.com/platform/system/core/+/c0e8d0fc50dc635c6723497900cf3b0d2eb572dc/init/readme.txt","Android : Init.rc  documentation ");
	    add("https://android.googlesource.com/platform/system/core/+/c0e8d0fc50dc635c6723497900cf3b0d2eb572dc/init/readme.txt","Android init : Init.rc  documentation ");
	    add("http://www.tldp.org/LDP/intro-linux/html/sect_04_02.html","Linux OS Concepts: Linux boot process and init");
	    add("http://www.pythonforbeginners.com/system/python-sys-argv","Python : Command line arguments in python");
	    add("https://stackoverflow.com/questions/3362920/get-just-the-filename-from-a-path-in-a-bash-script","Bash: Get filename and directory name from path");
	    add("https://www.quora.com/Linux-Kernel-How-does-copy_to_user-work/answer/Robert-Love-1?srid=2cdd","Kernel Constucts : How copy_to_user works?");
	    add("https://gcc.gnu.org/onlinedocs/gcc-4.0.4/gcc/Function-Attributes.html","C: Declaring Attribute for Functions");
	    add("https://gist.github.com/jonschlinkert/5854601","Boostnote: Boostnote Markdown");
	    add("http://flowchart.js.org/","JS: Flowchart JS API set");
	    add("https://sourceware.org/binutils/docs/ld/index.html#SEC_Contents","Linkers: Linker Script tutorial");
	    add("https://stackoverflow.com/questions/235839/indent-multiple-lines-quickly-in-vi","Vim: Indent multiple lines in VIM");
	    add("https://git-scm.com/book/en/v2/Git-Basics-Taggingi","git: About git tags");
	    add("https://android.googlesource.com/platform/ndk/+/4e159d95ebf23b5f72bb707b0cb1518ef96b3d03/docs/system/libc/SYSV-IPC.TXT","AOSP: Why android developers hated SysV IPC and chose to create Binder IPC");
        add("http://www.folkstalk.com/2013/03/sed-remove-lines-file-unix-examples.html","bash: sed usage");
	    add("https://stackoverflow.com/questions/2602823/in-c-c-whats-the-simplest-way-to-reverse-the-order-of-bits-in-a-byte","C: Reverse order of Bits");
	    add("http://08926976467793358646.googlegroups.com/attach/0f8eba5ecb95c6f4/OVERVIEW.TXT?view=1&part=4","Androidisms: Why bionic? bionic vs glibc");
	    add("https://superuser.com/questions/67765/sudo-with-password-in-one-command-line","bash: sudo commands without waiting for userinput")
		add("https://stackoverflow.com/questions/16926130/convert-to-binary-and-keep-leading-zeros-in-python","Python:Convert To binary and Keep Leading Zeroes");
		add("https://stackoverflow.com/questions/1417957/show-just-the-current-branch-in-git","Git:Show Only current branch");
		add("https://stackoverflow.com/questions/89603/how-does-the-debugging-option-g-change-the-binary-executable","Debugging:Keeping symbol table while compiling using GCC");
		add("https://stackoverflow.com/questions/5302390/is-it-possible-to-define-a-c-macro-in-a-makefile","Make:Define Macros in Make and import in C");
		add("https://www.ptgrey.com/KB/10092","YUV:Understanding YUV image format");
		add("https://askubuntu.com/questions/147554/what-software-can-display-raw-bitmaps-on-linux","Linux Software:Ways to open/View RAW image format");
		add("http://www.imagemagick.org/script/formats.php","Imagemagick: Formats supported in imagemagick");
		add("https://stackoverflow.com/questions/20609760/convert-h264-video-to-raw-yuv-format","FFMPEG:Converting any video to YUV format ");
		add("https://stackoverflow.com/questions/8697300/how-to-create-a-device-in-dev-automatically-upon-loading-of-the-kernel-module-f","Linux Kernel: Create device node using mknod");
		add("https://lwn.net/Articles/448502/","Linux Devices:Platform devices and device trees");
		add("https://www.kernel.org/doc/Documentation/devicetree/usage-model.txt","Linux Devices: Device Tree Usage");
		add("https://google-developers.appspot.com/chart/interactive/docs/","Google Charts: About Google Chart APIs");
		add("https://askubuntu.com/questions/991946/how-can-i-get-help-on-terminal-commands?newsletter=1&nlcode=631506%7c68f6","Bash:Opening man pages using other viewers");
		add("https://explainshell.com/","Bash Tools:Website that explains commands");
	    add("http://doctrina.org/How-RSA-Works-With-Examples.html","Cryptography : How RSA work with example");
        add("https://www.loc.gov/preservation/digital/formats/digformatspecs/APPNOTE%2820120901%29_Version_6.3.3.txt","zip: Zip file format in detail  1 ");
        add("https://users.cs.jmu.edu/buchhofp/forensics/formats/pkzip.html","zip:File format in detail 2");
        add("https://pkware.cachefly.net/webdocs/APPNOTE/APPNOTE-2.0.txt","zip: zip in detail 3");
		add("http://www.whydomath.org/node/wavlets/basicjpg.html","JPEG: Why JPEG ?");
		add("https://cdanu.github.io/uncrustify_config_preview/index.html","Uncrustify: Uncrustify configuration generator");
		add("https://stackoverflow.com/questions/3271248/accessing-variables-in-a-union-inside-a-struct","C: How to enforce C compiler to look for headers in the same directory rather than system directories");
		add("https://www.question-defense.com/2010/12/22/use-wget-to-download-all-pdf-files-listed-on-a-web-page-wget-all-pdf-files-in-a-directory","wget: Download all pdfs in a single website");
		add("http://onlineregression.sdsu.edu/onlineregression14.php","Online Tools:Multiple non linear regression");
		add("http://www.netlib.org/fdlibm/","C : Source code of math libraries");
		add("https://stackoverflow.com/a/1676690","Vim: Block commenting ");
		add("https://stackoverflow.com/questions/16423024/how-can-i-diff-2-files-while-ignoring-leading-white-space","Diff: Using diff to avoid printing space and tab changes as changes")
		add("https://github.com/wting/autojump","Autojump: Autojump usage")
		add("https://stackoverflow.com/questions/6283320/vs-in-make-macros","Make : Difference between := and = ");
		add("https://gist.github.com/unbracketed/889c844473bcca1917e2","Git : Apply a range of commits from another branch");
		add("https://stackoverflow.com/questions/2719579/how-to-add-a-changed-file-to-an-older-not-last-commit-in-git","Git: Change commits other than last commit in Git ");
		add("https://croisant.net/blog/2008-06-22-git-tip-fix-a-mistake-in-a-previous-commit/","Git: Fixing mistakes in previous commits ");
		add("https://www.thegeekstuff.com/2012/10/gcc-compiler-options/","GCC: Frequently used GCC commands");
		add("https://stackoverflow.com/questions/14509950/my-diff-contains-trailing-whitespace-how-to-get-rid-of-it","Git: Getting Rid of trailing whitespaces while applying patches ");
		add("https://stackoverflow.com/questions/6217156/break-a-previous-commit-into-multiple-commits","Git: Breaking a commit into multiple commits ");
		add("https://unix.stackexchange.com/questions/34718/is-there-a-command-to-see-where-a-disk-is-mounted","Bash : Finding where a certain disk is mounted ");
		add("https://unix.stackexchange.com/questions/408543/how-can-a-bash-function-return-multiple-values","Bash : Technique to return multiple values from a bash function");
		add("https://stackoverflow.com/questions/40686922/howto-split-a-string-on-a-multi-character-delimiter-in-bash","Bash: Splitting a text with a multiletter delimiter");
		add("https://stackoverflow.com/questions/9293887/reading-a-delimited-string-into-an-array-in-bash","Bash: Reading a delimited string using bash");
		add("https://stackoverflow.com/questions/19345872/how-to-remove-carriage-return-from-a-string-in-bash","Bash: Removing leading return from a string");
		add("https://serverfault.com/questions/7503/how-to-determine-if-a-bash-variable-is-empty","Bash: Determining whether a string is empty");
        add("https://askubuntu.com/questions/67718/how-do-i-disable-a-touchpad-using-the-command-line","Ubuntu Tweaks: How to disable touchpad");
        add("http://wiki.kldp.org/wiki.php/SoftIrqsAndTasklets","Linux Kernel: tasklets and softirqs");
	add("https://unix.stackexchange.com/questions/30370/how-to-get-the-pid-of-the-last-executed-command-in-shell-script","Bash: Process ID of last executed command")
	add("https://askubuntu.com/questions/445979/how-to-mount-sd-card-image-created-with-dd","Linux: How to mount an sdcard image using mount command")
	add("http://en.cppreference.com/w/c/language/array_initialization","C: Initialising arrays using indexes inside declaration")
	add("https://gcc.gnu.org/onlinedocs/gcc/Diagnostic-Pragmas.html","C: Diagnostic pragmas")
	add("https://askubuntu.com/questions/1018692/set-permanent-command-shortcut-in-terminal-to-cd-to-downloads","Bash: Difference between sourcing a script and running it")
	add("https://linuxconfig.org/how-to-use-getopts-to-parse-a-script-options","Bash: Getopts usage")
	add("https://www.tldp.org/LDP/Bash-Beginners-Guide/html/sect_12_02.html","Bash: Traps")
	add("https://stackoverflow.com/questions/559581/casting-a-function-pointer-to-another-type","C: Typecasting a function pointer")
	add("https://linux.die.net/man/1/cdecl","Bash Tools: cdecl- A tool to check complicated C declarations")
	add("https://stackoverflow.com/questions/8392228/complicated-right-to-left-rule-when-defining-a-variable","C: Left Right rule")
	add("https://stackoverflow.com/questions/1587846/how-do-i-show-the-changes-which-have-been-staged","Git: Showing changes that have been staged ")
	add("https://askubuntu.com/questions/1030099/how-to-print-text-in-the-terminal-as-if-its-being-typed","Bash: Display text as if it is being typed ");
	add("https://unix.stackexchange.com/questions/144924/how-to-create-a-message-box-from-the-command-line","Bash: GUI tools in Bash");
	add("https://stackoverflow.com/questions/5377297/how-to-manually-call-another-target-from-a-make-target","Make: Manually running a target");
	add("https://askubuntu.com/questions/930994/how-to-make-a-progress-bar-work-in-zenity","Zenity: Progress Bars");
	add("http://bruceblinn.com/linuxinfo/MemoryBarriers.html","C: Types of barriers");
	add("https://www.gravitywell.co.uk/latest/how-to/posts/how-to-set-up-ctags-for-sublime-text-editor-2/","Ctags: Installing Ctags in sublime text");
	add("https://stackoverflow.com/questions/2342826/how-to-pipe-stderr-and-not-stdout","Bash: Piping stderr only");
	add("https://askubuntu.com/questions/420981/how-do-i-save-terminal-output-to-a-file","Bash: Different Ways of saving terminal output");
	add("https://askubuntu.com/questions/1035212/how-can-i-read-a-sh-file-while-it-is-working-but-deleted","Bash: Recovering a shell script that was deleted while execution");
	add("https://stackoverflow.com/questions/7899119/what-does-s-mean-in-printf","C: %*.s in printf");
	add("https://unix.stackexchange.com/questions/186577/what-are-the-some-name-o-cmd-files","Linux Build: Purpose of .o.cmd files in linux source")
	add("http://www.keil.com/support/man/docs/armcc/armcc_chr1359124970859.htm","C: Weak function declarations")
	add("https://askubuntu.com/questions/1042234/modifying-the-color-of-grep","grep: Modifying color of grep")
	add("https://stackoverflow.com/questions/109710/how-do-the-likely-and-unlikely-macros-in-the-linux-kernel-work-and-what-is-t","C:Unlikely and Likely explanation");
	add("https://stackoverflow.com/questions/1064361/unable-to-show-a-git-tree-in-terminal","Git: Graph in git log ")
    	add("https://www.e-consystems.com/Articles/Android/Android-RIL-Architecture.asp","Android : RIL Architecture in Android");
    	add("https://github.com/codeauroraforum/mfgtools/wiki/Manufacturing-Tool-V2-(MFGTool2)-Update-Command-List-(UCL)-User-Guide","MFG: UCL file in MFG tool")
	add("https://stackoverflow.com/questions/351134/how-to-get-functions-name-from-functions-pointer-in-c","C: Getting function name from function pointer")
    add("http://realchecko.blogspot.com/2007/12/lcd-controller-timing-parameters.html","LCD: timing parameters simplified")
    add("https://www.cyberciti.biz/tips/linux-running-commands-on-a-remote-host.html","ssh: Run commands on a remote machine using ssh")
    add("http://www.youdzone.com/signature.html","Cryptography: What is digital signature?")

    // Sorts the list
		$scope.x.sort(function(a,b){
			var nameA=a.name.toLowerCase(),nameB=b.name.toLowerCase();
			if(nameA<nameB)
				return -1;
			if(nameA>nameB)
				return 1;
			return 0;
		});

		order();




});
</script>

<style type="text/css">
	.block{
		background-color: #F6F5Ec;
		margin: 10px;
		padding: 5px;
	}
	body{
		background-color: #F5F4EB;
	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color: #434E3C;
	}
	h1{
		color: #434E3C;
	}

</style>
</head>
<body>
 <div ng-app="myapp" ng-controller="myctrl">
 	<div class="block" ng-repeat="y in class">
 		<ul>
	 		<h1> {{ y.letter }} </h1>
	 		<li ng-repeat=" z in y.links">
	 			<a href="{{z.link}}">{{z.name}}</a><br>
	 		</li>
 		</ul>
 	</div>
 </div>
</body>
</html>
